body {
    background-color: #f0f8ff; 
    font-family: 'BBHSansBartle-Regular';
}

h1, h5 {
    color: #007bff; 
}

.btn-primary {
    background-color: #0056b3;
    border: none;
}

.btn-primary:hover {
    background-color: #003d80;
}

@font-face {
    font-family: 'BBHSansBartle-Regular';
    src: url('../fonts/BBHSansBartle-Regular.ttf');
}

/* .font-custom{
    font-family: 'BBHSansBartle-Regular';
} */
